<div class="flex-wrap">
  <form [formGroup]="uploadForm" (ngSubmit)="submit()" class="form">
    <div class="form-group">
      <label>Image</label>
      <input type="file" accept="image/*" (change)="showPreview($event)" />
    </div>
    <img [src]="file">
    <div class="form-group">
      <label>Url</label>
      <input name="url" formControlName="userUrl" [(ngModel)]="url" placeholder="Add ulr" />
      <div class="alert alert-danger" *ngIf="
            uploadForm.controls['userUrl'].invalid &&
            uploadForm.controls['userUrl'].touched
          ">
        Add url
      </div>
    </div>
    <div class="form-group">
      <select name="animation" [(ngModel)]="animation" formControlName="userAnimations">
        <option value="" disabled selected>Select animation</option>
        <option *ngFor="let item of animations" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <!-- [disabled]="uploadForm.invalid" [ngClass]="{'disabled': uploadForm.invalid }" -->
      <button (click)="addPhone(file, url, animation)">
        Отправить
      </button>
    </div>
  </form>

  <ul *ngFor="let p of phones" class="result">
    <li class="result__item">
      <a class="result__item-link" [href]="p.url">
        <img [src]="p.file" class="result__item-link-img">
        {{ p.animation }}
      </a>
    </li>
  </ul>
</div>
